 .u-section-1 {
  background-image: url("../images/rb8.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 547px;
}

.u-section-1 .u-group-1 {
  min-height: 225px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin-top: 310px;
  margin-bottom: 12px;
  background-image: linear-gradient(to bottom, rgba(230, 233, 254, 0.9), rgba(230, 233, 254, 0.9));
}

.u-section-1 .u-container-layout-1 {
  padding: 9px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 auto 0 445px;
}

.u-section-1 .u-text-2 {
  font-family: "Abyssinica SIL";
  font-size: 3.75rem;
  font-weight: 400;
  margin: 0 164px 0 158px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-image: none;
  margin: 31px auto 0 89px;
  padding: 8px 27px 8px 26px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-image: none;
  margin: -52px auto 0 400px;
  padding: 8px 27px 8px 26px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-image: none;
  margin: -52px 89px 0 auto;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 275px;
    margin-bottom: 0;
    min-height: 226px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 363px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 8px;
    margin-left: 61px;
    margin-right: 61px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 23px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
    margin-top: -48px;
    margin-left: 319px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.25rem;
    margin-top: -46px;
    margin-right: auto;
    margin-left: 636px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 247px;
    min-height: 146px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 19px;
    margin-right: 482px;
    margin-left: 18px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.125rem;
    margin-top: -43px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1.125rem;
    margin-top: -43px;
    margin-right: 18px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 203px;
    margin-bottom: 1px;
    min-height: 159px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 23px;
    margin-left: 198px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
    margin-top: 18px;
    margin-right: auto;
    margin-left: 7px;
    padding-right: 19px;
    padding-left: 18px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1rem;
    margin-top: -40px;
    margin-right: 173px;
    padding-right: 7px;
    padding-left: 6px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1rem;
    margin-top: -39px;
    margin-right: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 199px;
    margin-bottom: 0;
    min-height: 166px;
    --radius: 15px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 123px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-left: 34px;
    padding-right: 12px;
    padding-left: 10px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: -37px;
    margin-right: 14px;
    padding-right: 10px;
    padding-left: 9px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-right: auto;
    margin-left: 105px;
    padding-left: 11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 687px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 627px;
}

.u-section-2 .u-container-layout-1 {
  padding: 28px 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  letter-spacing: normal;
  line-height: 1.2;
  text-transform: none;
  font-weight: 700;
  font-family: "Abyssinica SIL";
  margin: 8px 61px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 2px 0 0;
}

.u-section-2 .u-line-1 {
  width: 506px;
  height: 3px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 627px;
  background-image: url("../images/rb9.webp");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 649px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-line-1 {
    width: 385px;
    margin-top: 22px;
  }

  .u-section-2 .u-image-1 {
    min-height: 649px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 668px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 11px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-line-1 {
    width: 312px;
    margin-top: 31px;
  }

  .u-section-2 .u-image-1 {
    min-height: 668px;
    background-position: 70.98% 50%;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -216px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 446px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 281px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 622px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-family: "Abyssinica SIL";
  font-size: 3.75rem;
  width: 295px;
  margin: 30px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1038px;
  margin: 26px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 223px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-icon-1 {
  width: 75px;
  height: 75px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 34px 20px 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-icon-2 {
  width: 75px;
  height: 75px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 34px 20px 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-icon-3 {
  width: 75px;
  height: 75px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 34px 20px 0;
}

.u-section-3 .u-list-2 {
  width: 1039px;
  margin: 20px auto 30px;
}

.u-section-3 .u-repeater-2 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 227px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-icon-4 {
  width: 75px;
  height: 75px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  margin: 26px 20px 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-icon-5 {
  width: 75px;
  height: 75px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.875rem;
  margin: 26px 20px 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-icon-6 {
  width: 75px;
  height: 75px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.875rem;
  margin: 26px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-list-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 201px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-3 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-2 {
    margin-bottom: -20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 178px;
  }

  .u-section-3 .u-icon-4 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-5 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-6 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 29px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-list-1 {
    width: 708px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 13.3333px);
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 185px;
  }

  .u-section-3 .u-icon-1 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-icon-2 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-list-2 {
    margin-bottom: -193px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 183px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 41px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 41px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 41px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 171px;
  }

  .u-section-3 .u-icon-1 {
    width: 50px;
    height: 50px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-icon-2 {
    width: 50px;
    height: 50px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-icon-3 {
    width: 50px;
    height: 50px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-list-2 {
    margin-bottom: -213px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 167px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-4 {
    width: 50px;
    height: 50px;
    margin-top: 26px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-5 {
    width: 50px;
    height: 50px;
    margin-top: 26px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-6 {
    width: 50px;
    height: 50px;
    margin-top: 26px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.3333% - 6px);
    grid-template-columns: repeat(3, calc(33.3333% - 6px));
    min-height: 157px;
    grid-gap: 9px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-icon-1 {
    width: 40px;
    height: 40px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-right: 2px;
    margin-left: 7px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-icon-2 {
    width: 40px;
    height: 40px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-right: 2px;
    margin-left: 7px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-icon-3 {
    width: 40px;
    height: 40px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    margin-right: 2px;
    margin-left: 7px;
  }

  .u-section-3 .u-list-2 {
    margin-bottom: -220px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: calc(33.3333% - 6px);
    grid-template-columns: repeat(3, calc(33.3333% - 6px));
    min-height: 156px;
    grid-gap: 9px;
  }

  .u-section-3 .u-icon-4 {
    width: 40px;
    height: 40px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 21px;
  }

  .u-section-3 .u-icon-5 {
    width: 40px;
    height: 40px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-3 .u-icon-6 {
    width: 40px;
    height: 40px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }
} .u-section-4 {
  min-height: 66px;
}

.u-section-4 .u-sheet-1 {
  min-height: 768px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 23px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 722px;
  --radius: 50px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 34px 23px;
}

.u-section-4 .u-text-1 {
  font-family: "Abyssinica SIL";
  font-size: 3.75rem;
  margin: 20px 11px 0 20px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 26px 0;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 42px auto 0 132px;
}

.u-section-4 .u-image-1 {
  min-height: 722px;
  background-image: url("../images/rb5.webp");
  background-position: 65.38% 50%;
  background-size: cover;
  --radius: 50px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 687px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 23px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 19px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 687px;
    background-position: 51.64% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -134px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 699px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 12px 22px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 12px;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-image-1 {
    min-height: 699px;
    background-position: 55.14% 50%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -665px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.125rem;
    padding: 10px 17px 10px 15px;
  }

  .u-section-4 .u-image-1 {
    min-height: 354px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -80px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 45px;
    margin-right: 45px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 223px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 644px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-family: "Abyssinica SIL";
  font-weight: 400;
  margin: 30px 289px 0 313px;
}

.u-section-5 .u-list-1 {
  margin-top: 10px;
  margin-bottom: -667px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 495px;
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-5 .u-image-1 {
  height: 274px;
  object-position: 0% 50%;
  width: 340px;
  --radius: 40px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  width: 248px;
  margin: 11px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  width: 225px;
  margin: 0 auto;
}

.u-section-5 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 31px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 18px 0;
}

.u-section-5 .u-image-2 {
  height: 274px;
  object-position: 17.59% 50%;
  width: 340px;
  --radius: 40px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 0px;
  width: 248px;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 11px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 400;
  font-style: normal;
  width: 225px;
  margin: 0 auto;
}

.u-section-5 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 31px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 18px 0;
}

.u-section-5 .u-image-3 {
  height: 274px;
  object-position: 16.51% 50%;
  width: 340px;
  --radius: 40px;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-size: 1.875rem;
  text-transform: uppercase;
  letter-spacing: 0px;
  width: 248px;
  font-weight: 700;
  font-family: Merriweather, serif;
  margin: 11px auto 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 400;
  font-style: normal;
  width: 225px;
  margin: 0 auto;
}

.u-section-5 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 31px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-5 .u-text-1 {
    width: 539px;
    font-size: 3.75rem;
    margin-right: 189px;
    margin-left: 213px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -761px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 403px;
  }

  .u-section-5 .u-image-1 {
    height: 230px;
    width: 282px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 30px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-5 .u-image-2 {
    height: 230px;
    width: 282px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
    margin-left: 30px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 30px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 19px;
  }

  .u-section-5 .u-image-3 {
    height: 230px;
    width: 282px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.5rem;
    margin-left: 30px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 30px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-right: 79px;
    margin-left: 103px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 14px;
    margin-bottom: 26px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 978px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 25px;
    margin-left: 72px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 25px;
    margin-left: 72px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 25px;
    margin-left: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 2px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-list-1 {
    margin-top: 11px;
    margin-bottom: -3739px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 748px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 167px;
    width: 235px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 8px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 17px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 30px;
    margin-left: auto;
    padding: 10px 16px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 167px;
    width: 235px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 8px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 17px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-btn-2 {
    font-size: 1.125rem;
    margin-top: 30px;
    margin-left: auto;
    padding: 10px 16px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 167px;
    width: 235px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 8px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-7 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 17px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-btn-3 {
    font-size: 1.125rem;
    margin-top: 30px;
    margin-left: auto;
    padding: 10px 16px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -2562px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-image-1 {
    object-position: 0% 100%;
    width: 303px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    object-position: 17.59% 100%;
    width: 303px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    width: 303px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 627px;
}

.u-section-6 .u-text-1 {
  font-family: "Abyssinica SIL";
  font-size: 3.75rem;
  margin: 30px 390px 0 auto;
}

.u-section-6 .u-list-1 {
  margin-bottom: -115px;
  margin-top: 13px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 483px;
  grid-gap: 30px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 33px 30px 0 87px;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  margin: 17px 29px 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 33px 30px 0 87px;
}

.u-section-6 .u-text-5 {
  font-size: 1rem;
  margin: 17px 29px 0;
}

.u-section-6 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 33px 30px 0 87px;
}

.u-section-6 .u-text-7 {
  font-size: 1rem;
  margin: 17px 29px 0;
}

.u-section-6 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 33px 30px 0 87px;
}

.u-section-6 .u-text-9 {
  font-size: 1rem;
  margin: 17px 29px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: auto;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 30px;
    margin-top: 28px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 401px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-right: 74px;
    margin-left: 28px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-right: 74px;
    margin-left: 28px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 26px;
    margin-right: 74px;
    margin-left: 28px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 26px;
    margin-right: 74px;
    margin-left: 28px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-list-1 {
    margin-top: 22px;
    margin-bottom: -81px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 550px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 21px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 21px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 21px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.25rem;
    margin-top: 21px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-text-9 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -22px;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 30px;
    margin-top: 23px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 647px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 22px;
    margin-left: 34px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
    margin-right: 18px;
    margin-left: 22px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 26px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 22px;
    margin-left: 34px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 0;
    margin-right: 18px;
    margin-left: 22px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 26px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 22px;
    margin-left: 34px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 0;
    margin-right: 18px;
    margin-left: 22px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-bottom: 26px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1.125rem;
    margin-top: 22px;
    margin-left: 34px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 0;
    margin-right: 18px;
    margin-left: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1167px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 1064px;
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-text-2 {
    font-size: 1rem;
    margin-top: 23px;
    margin-right: 120px;
    margin-left: 15px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1rem;
    margin-top: 23px;
    margin-right: 120px;
    margin-left: 15px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-6 .u-text-6 {
    font-size: 1rem;
    margin-top: 23px;
    margin-right: 120px;
    margin-left: 15px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-6 .u-text-8 {
    font-size: 1rem;
    margin-top: 23px;
    margin-right: 120px;
    margin-left: 15px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 957px;
}

.u-section-7 .u-text-1 {
  font-family: "Abyssinica SIL";
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 21px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 515px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 501px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-form-1 {
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 519px;
}

.u-section-7 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 21px 30px;
}

.u-section-7 .u-text-2 {
  font-size: 2.25rem;
  background-image: none;
  font-family: "Abyssinica SIL";
  font-weight: 400;
  margin: 0 1px;
}

.u-section-7 .u-text-3 {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 19px 12px 0 21px;
}

.u-section-7 .u-icon-1 {
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-7 .u-text-4 {
  font-size: 1.875rem;
  font-family: Acme;
  font-weight: 700;
  margin: 23px 174px 0 21px;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.5rem;
  font-family: Acme;
  font-weight: 700;
  margin: 15px 171px 0 18px;
}

.u-section-7 .u-btn-3 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.5rem;
  font-family: Acme;
  font-weight: 700;
  margin: 15px 23px 0 18px;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  font-size: 1.875rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 514px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 527px;
  }

  .u-section-7 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 527px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-right: 45px;
    margin-left: 13px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 20px;
    margin-right: 45px;
    margin-left: 30px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-right: 55px;
    margin-left: 40px;
  }

  .u-section-7 .u-btn-2 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 14px;
    margin-right: 108px;
    margin-left: 40px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 403px;
    margin-bottom: 0;
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 10px;
    margin-right: 108px;
    margin-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: -714px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 515px;
  }

  .u-section-7 .u-form-1 {
    height: 415px;
    width: 287px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 515px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 0;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 439px;
  }

  .u-section-7 .u-text-6 {
    width: 286px;
    margin-top: 30px;
    margin-right: 38px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 21px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-form-1 {
    height: 375px;
    width: 502px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-3 {
    padding: 18px 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 123px;
    margin-left: 19px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 17px;
    margin-right: 42px;
    margin-left: 22px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 9px;
    margin-right: -21px;
    margin-left: 22px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 9px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1398px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: -7px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 451px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-7 .u-form-1 {
    width: 300px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 426px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 17px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 72px;
    margin-left: 6px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 31px;
    margin-left: 20px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 6px;
    margin-right: 83px;
    margin-left: 30px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 5px;
    margin-right: 96px;
    margin-left: 30px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 10px;
    margin-left: 32px;
    margin-right: 32px;
  }
}